/*-------------------
        RESET
---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
        GENERAL
---------------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: coral;
    color: #000;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 40%;
}

h3 {
    font-weight: 300;
}

/*-------------------
        LAYOUT
---------------------*/

.box-total-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 50px 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

/*-------------------
        TITLE
---------------------*/

.old-price-container {
    display: flex;
}

#old-price {
    text-decoration: line-through;
}

#total-price {
    color: #4a9ec1;
}